.user-list{
  display: flex;
  justify-content: space-around;
  border: 1px solid #aaa;
  margin: 10px;
  padding: 10px;
  width:450px;


}

.nav-list{
  display: flex;
  width:250px;
  justify-content: space-around;
  list-style: none;


}

.active{
  font-weight: 800;
}